@font-face {
  font-family: "flaticon";
  src: url("./flaticon.ttf?cb556261b7a936b224da383d231391e2") format("truetype"),
    url("./flaticon.woff?cb556261b7a936b224da383d231391e2") format("woff"),
    url("./flaticon.woff2?cb556261b7a936b224da383d231391e2") format("woff2"),
    url("./flaticon.eot?cb556261b7a936b224da383d231391e2#iefix")
      format("embedded-opentype"),
    url("./flaticon.svg?cb556261b7a936b224da383d231391e2#flaticon")
      format("svg");
}

i[class^="flaticon-"]:before,
i[class*=" flaticon-"]:before {
  font-family: flaticon !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-advertising:before {
  content: "\f101";
}
.flaticon-entertainment:before {
  content: "\f102";
}
.flaticon-film-editing-1:before {
  content: "\f103";
}
.flaticon-film-editing:before {
  content: "\f104";
}
