.portfolio__bg {
  background-image: url("../../assets/image/page-banner16.jpg");
}

.portfolio__bg::before {
  content: "";
  position: absolute;
  background: #000000;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}

.page__title__content {
  z-index: 10;
}

.page__title__content h2 {
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
}

.page__title__content ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.page__title__content ul li {
  position: relative;
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  margin: 0 10px;
}

.page__title__content ul li:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 10px);
  width: 1px;
  height: 100%;
  background: #fff;
  transform: rotate(25deg);
}

.page__title__content ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: color 0.25s linear;
}

.page__title__content ul li:hover > a {
  text-decoration: none;
  color: #e2a850;
}

.page__title__content ul li.active {
  color: #e2a850;
}

.single__portfolio {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  margin-bottom: 30px;
  text-align: center;
}

.single__portfolio .portfolio__image {
  position: relative;
  transition: all 0.5s;
  height: 380px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.single__portfolio .portfolio__image:hover .price__wrap {
  opacity: 0.9;
}

.single__portfolio .portfolio__image .price__wrap {
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s;
}

.single__portfolio .portfolio__image .price__wrap i {
  font-size: 60px;
  color: #fff;
}

.single__portfolio .portfolio__content {
  margin-top: 20px;
}

.single__portfolio .portfolio__content span {
  font-size: 1.4rem;
  color: #676a6a;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}

.single__portfolio .portfolio__content h3 {
  margin-bottom: 0;
  transition: all 0.5s;
  font-size: 20px;
  color: #272b2b;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}

.single__portfolio .portfolio__content h3 a {
  color: #272b2b;
}
