* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.column-12 {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.column-4 {
  width: 33.33334%;
  padding-left: 15px;
  padding-right: 15px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.p-0 {
  padding: 0 !important;
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-mince-30 {
  margin-top: -30px;
}

.d__table {
  display: table !important;
}

.d__table__cell {
  display: table-cell !important;
}

.bg-color {
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.default__btn {
  font-size: 15px;
  line-height: 15px;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  transition: all 0.5s;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  color: #000;
  z-index: 1;
  background-color: #fff;
  border-radius: 4px;
  font-weight: 700;
  border: 1px solid #272b2b;
  margin-bottom: -4px;
  padding: 15px 40px;
}

.default__btn:hover {
  text-decoration: none;
  color: #fff;
  background: #000;
}

.default__btn.two {
  background: #000;
  color: #fff;
}

.default__btn.two:hover {
  background-color: #fff;
  color: #000;
}

.owl-theme .owl-dots .owl-dot:focus,
.modal-video-close-btn:focus {
  border: none;
  outline: none;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
}
.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 2px;
  border: 2px solid #333;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #333 transparent transparent transparent;
}
.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
